In [15]:
import pandas as pd
import numpy as np

dates = pd.Series([1,3,4,5,6,7])
print(dates)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [17]:
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
g=pd.date_range("20210101",periods=6)
g

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ASDF"))
df

                   A         S         D         F
2020-01-01  1.104231  1.812548 -0.332683  0.276914
2020-01-02 -0.075691 -2.285390 -1.682725  2.303149
2020-01-03 -1.356207  0.700521  0.323794 -0.237242
2020-01-04  1.942535 -0.284116  1.140135 -0.360762
2020-01-05 -1.032370 -2.610040 -0.010193  0.160838
2020-01-06 -0.787692 -0.765446 -1.229800  0.210433

In [29]:
s=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("CACE"))
s

                   C         A         C         E
2020-01-01 -0.565993 -1.161156 -0.788257  0.552033
2020-01-02  2.495421 -1.684718  0.617713 -0.982333
2020-01-03  0.031771  0.208545  1.437185 -0.350680
2020-01-04 -0.885911  0.541584 -1.321772  0.596881
2020-01-05 -1.381881 -0.178934  1.529086  0.894424
2020-01-06  1.154338 -0.880666 -1.958463  0.139171

In [31]:
f=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ARFC"))
f

                   A         R         F         C
2020-01-01  1.025334 -0.313818  1.117666 -0.116792
2020-01-02 -1.388758 -1.101553 -1.896666 -1.230824
2020-01-03  0.185262 -0.821666 -0.181874  1.902708
2020-01-04 -0.955581 -0.259661 -0.744891  1.123851
2020-01-05 -0.027418 -1.106775  0.039875 -1.349581
2020-01-06  0.130735 -0.293067  0.519408 -0.660280